body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(./images/Blackjack-background.PNG) no-repeat center center fixed;
  background-size: cover;
}

.blackjack__result {
  font-size: 1rem;
  color: #efefef;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.player__box, .dealer__box {
  background: url(./images/blackjack.jpg);
  height: 250px;
  width: 250px;
  opacity: 0.8;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin-top: 1rem;
  justify-content: center;
  margin-left: 3.8rem;
}
.player__box h2, .dealer__box h2 {
  color: #efefef;
  font-size: 1rem;
  justify-content: center;
}

.blackjack__hit-button {
  background-color: #f1be51;
  padding: 0 10px 0 10px;
}

.blackjack__stand-button {
  background-color: #2c415c;
}

.blackjack__deal-button {
  background-color: #f15151;
}

.blackjack__deal-button,
.blackjack__hit-button,
.blackjack__stand-button,
.blackjack__Reset-button {
  color: #efefef;
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.buttons__row {
  display: flex;
  margin: 5px;
  justify-content: center;
}

.result__row {
  color: #efefef;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}

table, tr, th, td {
  border: 1px solid #efefef;
  margin: 5px;
}

.rules {
  color: #efefef;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 768px) {
  header > img {
    width: 450px;
    height: 250px;
  }

  .blackjack__result {
    font-size: 2rem;
    color: #efefef;
    display: flex;
    justify-content: center;
  }

  .playing__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .player__box {
    margin-right: 5rem;
  }

  .dealer__box {
    margin-left: 5rem;
  }

  .player__box, .dealer__box {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    width: 700px;
    height: 400px;
    margin-left: 0rem;
  }
  .player__box h2, .dealer__box h2 {
    font-size: 2rem;
  }

  .blackjack__hit-button {
    padding: 0 20px 0 20px;
  }

  .blackjack__deal-button,
.blackjack__hit-button,
.blackjack__stand-button,
.blackjack__Reset-button {
    margin-top: 2rem;
    font-size: 2rem;
    cursor: pointer;
  }

  .result__row {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .img > .responsive {
    width: 160px;
    height: 250px;
  }
}